/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

.AffichageLogin
{
    margin-top : 10%;
    margin-left : 25%;
    width : 50%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
.Panel
{
    font-weight : bold;
    width : 800px;
    margin-left : 250px;
    padding : 10px;
}
.Label
{
    padding-left : 50px;
    font-weight : bold;
    width : 250px;
    margin-right: 0.5em;
    margin-left: 10px;
    display : inline-block;
}
.TextBox
{
    display : inline-block;   
    border-radius : 5px;
}
.Bouton
{
    text-align : center;
    padding-top : 20px;
    padding-bottom : 10px;
   
}

/* Principal */
#menu-accordeon {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 300px;
  height : 600px;
}
#menu-accordeon ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menu-accordeon li {
   background-color:#000000; 
  background-image:-webkit-linear-gradient(top, #333333 0%, #333333 100%);
   background-image: linear-gradient(to bottom, #333333 0%, #333333 100%);
   border-radius: 6px;
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #333A40
}
#menu-accordeon li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0
}
#menu-accordeon a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.2em
}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
  font-size:1em
}
#menu-accordeon li:hover {
   background: #000000;
}
#menu-accordeon li li:hover {
   background: #000000;
}
#menu-accordeon ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu-accordeon li:hover li {
  max-height: 15em;
}


.Bienvenu
{
   
    padding-top : 10px;
    margin-bottom : 10px;
    margin-left : 30%;
    width : 500px;
    margin-top : 10px;
    text-align : center;
    background-image:-webkit-linear-gradient(top, #333333 0%, #333333 100%);
   background-image: linear-gradient(to bottom, #333333 0%, #333333 100%);
   border-radius: 6px;
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #333A40;
     font-family: verdana;
    font-size:1.2em;
     color: #fff;
}
.Affichage
{
    margin-top : 100px;

   
    height: auto;
    padding:1px 0;
   margin-left : 100px

    
    
}
.Main
{
    position : relative;
    padding:1px 0;
    margin-top : 100px;        
    height : 700px;
    margin : auto;
}
.Menu
{
    margin-top : 20px;
    position : absolute;
    width:320px;
    padding:1px 0;
   
}
.Choix
{
    width : 350px;
    margin-left : 37%;
    padding : 10px;
 
}
.BoutonChoix
{
     margin-top: 10px;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  /*white-space: nowrap;*/
  /*vertical-align: middle;*/
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
     
          user-select: none;
  
}